<h1>Admin Dashboard</h1>


<div>
    <%= link_to "At present, there are #{@product_sum} products!", [:admin, :products] %>
    <br>
    <%= link_to "At present, there are #{@category_sum} categories!", :root %>
  </div>