<section class="about-index">

  <header class="page-header">
    <h1> Abut Us </h1>
  </header>
  <article>
    <p> Jungle will be founded in 2233, a company carrying high-tech prodects sending from the future. Please keep it as a secret if you are lucky enough to see this site. The time machine is lagging sometimes, but we will try our best to deliver your order.  </p>

  <article>

</section> 